@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6, nav {
  font-family: "League Gothic", sans-serif;
}